
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body{
    /* padding: 0px 100px; */
    font-size: 16px;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 100px; */
    /* height: 56px; */
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.nav-title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.gamer{
    font-size: 2.8rem;
    font-weight: 700;
}
.pink{
    color: rgb(255, 66, 165);
}
.nav-title img{
    width: 86.03px;
    height: 40.02px;
}
.nav-link{
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: space-evenly; */
}
.nav-link a{
    text-decoration: none;
}
.follow{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 17px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}
/* .lineargtext{
    background-color: red;
    background-clip: text;
    color: transparent;
} */

.about, .play{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about{
    box-shadow: 0px 4px 10px 5px rgba(249, 72, 178, 0.078)  inset;
}
.sign{
    background: url(../images/Group\ 14.png);
    background-size: 745px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign1 h4{
    font-size: 3rem;
    font-weight: 600;
    margin: 2px;
}
.sign1 h2{
    font-size: 5.94rem;
    font-weight: 800;
    margin: 2px;
    /* background-image: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; */
}
.sign1 div{
    display: flex;
    align-items: center;
    gap: 12px;
}
.sign1 div img{
    width: 18px;
    height: 18px;
}
.button{
    padding: 21px 40px 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border: none;
}
.btn-primary1{
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
}
.btn-primary2{
    background: rgb(78, 197, 247);
}
.pic img{
    /* padding-right: 100px; */
    width: 100%;
}
.pic2 img{
    /* padding-left: 100px; */
    width: 100%;
}
.pic2, .know{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}
.know{
    text-align: right;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.know1{
    max-width: 550px;
}
.lgtext{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
 background-clip: text;
 text-shadow: 1px 1px 1px   rgba(59, 53, 57, 0.19);
}
/* .goat-overlay{ */
    /* text-shadow: none; */
    /* top: 150%;
} */


.title{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: rgb(11, 2, 35);
}
.know h6{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(83, 76, 100);
    margin: 0;
}
#purpose{
    font-size: 1.5rem;
    font-weight: 500;
}



.online{
    margin: 120px auto;
}
.online1{
    text-align: center;
    margin-bottom: 48px;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.card-container div{
    width: 100%;
}
.card-container div p{
    font-size: 1rem;
    width: 18rem;
}



.play{
    gap: 150px;
    /* justify-items: stretch; */
}
.play div{
    width: 90%;
}
.position{
    position: relative;
}
.img2{
    position: absolute;
    /* top: 360px; */
    top: 22.5rem;
    /* right: 460px; */
    right: 28.75rem;
}
.img4{
    position: absolute;
    /* top: 408px; */
    top: 25.5rem;
    /* left: 528px; */
    left: 33rem;
}
.description{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description p{
    width: 60%;
}
.description1{
    text-align: left;
}


.career{
    margin-top: 300px;
    background:  linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);;
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    color: white;
    align-items: center;
}
.career div img{
    max-width: auto;
}
.career-description{
    padding-left: 50px;
}
.career h3{
    color: white;
}
.career div button{
    background-color: white;
    color: rgb(255, 66, 165);
    margin-top: 30px;
}

.grid-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-list h6{
    margin: 10px;
}
.game-type{
    padding: 120px 100px;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
}
.game-type button{
    display: flex;
    gap: 5px;
    border-radius: 50px;
    align-items: center;
    background-color: white;
    border: none;
    padding: 5px;
}
.game-type button h5{
    color: rgb(11, 2, 35);
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}
.game-type :hover{
    border: 2px solid rgb(255, 66, 165);
    color: rgb(255, 66, 165);
    /* outline: 2px solid rgb(255, 66, 165); */   
}
.game-type button :hover{
    border: none;
}
footer{
    background: rgb(11, 2, 35);
    padding-bottom: 100px;
}
footer .nav-title{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
}
.footer-text{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.footer-term{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
}
#copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}