
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* body{
    padding: 0px 100px;
} */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    /* height: 56px; */
    align-items: center;
}
.nav-title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.gamer{
    font-size: 2.8rem;
    font-weight: 700;
}
.pink{
    color: rgb(255, 66, 165);
}
.nav-title img{
    width: 86.03px;
    height: 40.02px;
}
.nav-link{
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: space-evenly; */
}
.nav-link a{
    text-decoration: none;
}
.follow{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 17px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.about, .play{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sign{
    background: url(../images/Group\ 14.png);
    background-size: 745px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign1 h4{
    font-size: 3rem;
    font-weight: 600;
    margin: 2px;
}
.sign1 h2{
    font-size: 5.94rem;
    font-weight: 800;
    margin: 2px;
    /* background-image: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; */
}
.sign1 div{
    display: flex;
    align-items: center;
    gap: 12px;
}
.sign1 div img{
    width: 18px;
    height: 18px;
}
button{
    padding: 21px 40px 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border: none;
}
.btn-primary1{
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
}
.btn-primary2{
    background: rgb(78, 197, 247);
}
.pic img{
    /* padding-right: 100px; */
    width: 100%;
}
.pic2 img{
    /* padding-left: 100px; */
    width: 100%;
}
.pic2, .know{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}
.know{
    text-align: right;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.know1{
    max-width: 550px;
}
.lgtext{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.know h6{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(83, 76, 100);
    margin: 0;
}
#purpose{
    font-size: 1.5rem;
    font-weight: 500;
}



.online{
    margin: 120px auto;
}
.online1{
    text-align: center;
    margin-bottom: 48px;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.card-container div{
    width: 100%;
}
.card-container div p{
    font-size: 1rem;
    width: 18rem;
}





.position{
    position: relative;
}
.img2{
    position: absolute;
    top: 360px;
    right: 460px;
}
.img4{
    position: absolute;
    top: 408px;
    left: 528px;
}